img {
  align-items: center;
}

button{
  padding: 0.5%;
  margin-top: 0.3%;
  margin-bottom: 0.3%;
}

select {
  text-shadow: 0.5px 0px 0px black;
  font-size: 80%;
}

p {
  font-size: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin-top: 0;
  padding-top: 0.15%;
  padding-bottom: 0.15%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.infoArea {
  text-align: left;
  display: inline-block;
  width: 40%;
  height: 40%;
  margin: 0;
  padding: 0;
}

.setArea {
  text-align: left;
}

.header {
  width: 100%;
  position: relative;
  margin: 0;
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
  text-align: center;
  background-color: #0099ff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.grid-container {
   /* any new rows created are 200px in height */
  grid-template-columns: repeat(4, 25%);
  display: grid;
  grid-template-areas:
    'header header header header'
    'sim sim graph graph2'
    'buttons buttons config config'
    'presets presets config config'
}

.grid-header {
  background-color: #0099ff;
  text-align: center;
  grid-area: header;
}

.grid-simArea {
  padding-top: 2.5%;
  align-items: center;
  text-align: center;
  grid-area: sim;
}

.grid-graph {
  padding: 1%;
  grid-area: graph;
}

.grid-graph2 {
  padding: 1%;
  grid-area: graph2;
}

.grid-recGraph {
  padding: 1%;
  grid-area: recGraph;
}

.grid-config {
  grid-area: config;
}

.grid-presets {
  text-align: center;
  grid-area: presets;
}

.grid-stats {
  padding-left: 10%;
  padding-top: 7.5%;
  grid-area: stats;
}

.grid-buttons {
  padding-top: 1.5%;
  text-align: center;
  grid-area: buttons;
}

.canv {
  border-style: solid;
}
